<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="test" connectionString="Data Source=localhost;port=3306;Integrated Security=false;Initial Catalog=shop;User ID=root;Password=;" providerName="Mysql.Data.MysqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
